.primaryBtn {
  background-color: var(--primary-btn-color);
  border: none;
  border-radius: 8px;
  color: var(--primary-btn-txt);
  cursor: pointer;
  font-weight: 600;
  height: 45px;
  min-width: 360px;
}

.primaryBtn:hover {
  background: var(--alt-btn-color);
  color: var(--alt-btn-txt);
  border: 2px solid var(--primary-btn-color);
}
