// .page {
// }

/*
 CALL TO ACTION
*/
.ctaContainer {
  height: 80vh;
}

.ctaTestimony {
  position: absolute;
  right: -64px;
  bottom: 10%;
}

.ctaInfoContainer {
  display: flex;
  justify-content: center;
  margin-top: 64px;
  height: 100%;
}

.ctaInfo {
  width: 60%;
}

.ctaArrow {
  height: 10vh;
  text-align: center;
  cursor: pointer;

  &:hover {
    font-weight: 900;
  }
}

/*
  PRODUCT INFO
*/

.productUsageContanier {
  display: flex;
  justify-content: center;
  padding-top: 24px;
  padding-bottom: 48px;
}

.productUsageHLine {
  border-left: 1px solid #000;
  margin: 0px 32px;
}

.productInfoContainer {
  width: 70%;
  margin: auto;
}

.productInfoSpacing {
  height: 48px;
  border: 0;
}
