.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding: 16px;
}

.mainHeader {
  align-items: center;
  display: flex;
  flex: 3 1 auto;
  justify-content: center;
  text-align: center;
}

.authOptionsContainer {
  align-items: center;
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 16px;
}
